/* src/styles/custom-theme.css */

/* 如果需要针对特定组件 */
.arco-btn {
  --border-radius-small: 8px !important;
}
.arco-btn-secondary {
  --color-secondary: #e5e7eb !important;
}

.arco-input-wrapper {
  --border-radius-small: 4px !important;
}

.arco-modal-footer,
.arco-modal-header {
  border: none !important;
}

.arco-dropdown {
  padding: 0px !important;
  border-radius: 8px !important;
}

.arco-popover-popup-content {
  border-radius: 8px !important;
}

.arco-popover-content {
  margin: 0px !important;
}

.arco-tooltip-content {
  border-radius: 8px !important;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1)) !important;
}

.arco-select-dropdown .arco-select-option {
  font-size: 12px !important;
}
