/* src/styles/custom-theme.css */

/* 如果需要针对特定组件 */
.arco-btn {
  --border-radius-small: 8px !important;
}
.arco-btn-secondary {
  --color-secondary: #e5e7eb !important;
}

.arco-input-wrapper {
  --border-radius-small: 4px !important;
}

.arco-modal-footer,
.arco-modal-header {
  border: none !important;
}

.arco-dropdown {
  padding: 0px !important;
}
