@import 'tailwindcss';
@import 'tailwindcss' important;

@layer base {
  html,
  body {
    min-height: 600px;
    min-width: 1200px;
    height: 100%;
    width: 100%;
  }
  .gradient-input {
    position: relative;
    z-index: 0;
    border-radius: 24px;
    border-color: #d1d5dc !important;
    box-shadow: 0 0 20px 0 #d1d5dc80 !important;
    transition: all 0.3s ease-in-out;
  }

  .gradient-input:focus-within {
    box-shadow: 0 0 26px 0 #c8efffa1 !important;
  }

  .gradient-input-active:before,
  .gradient-input:focus-within:before {
    content: '';
    background: linear-gradient(91.42deg, #8fbdff, #51a2ff 31%, #2b7fff 73%, #155dfc);
    border-radius: 24px;
    position: absolute;
    inset: -1px;
    z-index: -1;
  }

  .gradient-input-active:after,
  .gradient-input:focus-within:after {
    background: #fff;
    background-clip: content-box;
    border: 1px solid #0000;
    border-radius: 24px;
    bottom: -1px;
    content: '';
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
  }

  .scrollbar-w-none {
    scrollbar-width: none;
  }
  .scrollbar-w-none::-webkit-scrollbar {
    display: none;
  }

  .icon-active {
    filter: brightness(0) saturate(100%) invert(35%) sepia(96%) saturate(462%) hue-rotate(185deg)
      brightness(96%) contrast(95%);
  }

  .delete-modal .arco-modal-footer .arco-btn-primary {
    background-color: #e7000b !important;
  }

  .md-preview-open .arco-drawer-container,
  .code-editor-open .arco-drawer-container {
    pointer-events: none;
  }

  .md-preview-open .arco-drawer,
  .code-editor-open .arco-drawer {
    pointer-events: all;
    box-shadow: 0 16px 25px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25)) !important;
  }

  .md-editor-preview {
    background-color: transparent !important;
    font-size: 14px !important;
  }

  .md-editor-preview h1,
  .md-editor-preview h2,
  .md-editor-preview h3,
  .md-editor-preview h4,
  .md-editor-preview h5,
  .md-editor-preview h6 {
    font-weight: 600 !important;
  }

  .md-editor-preview h1 {
    font-size: 1.5em !important;
  }

  .md-editor-preview h2 {
    font-size: 1.25em !important;
  }

  .md-editor-preview h3 {
    font-size: 1.1em !important;
  }

  .md-editor-preview h4,
  .md-editor-preview h5,
  .md-editor-preview h6 {
    font-size: 1em !important;
  }

  .monaco-editor-overlaymessage {
    display: none !important;
  }

  .node-z-index {
    z-index: 1000 !important;
  }
}
