@import 'tailwindcss';
@import 'tailwindcss' important;

@layer base {
  html,
  body {
    min-height: 600px;
    min-width: 1200px;
    height: 100%;
    width: 100%;
  }
  .scrollbar-w-none {
    scrollbar-width: none;
  }
  .scrollbar-w-none::-webkit-scrollbar {
    display: none;
  }

  .icon-active {
    filter: brightness(0) saturate(100%) invert(35%) sepia(96%) saturate(462%) hue-rotate(185deg)
      brightness(96%) contrast(95%);
  }
}
