@import 'tailwindcss';
@import 'tailwindcss' important;

@layer base {
  html,
  body {
    min-height: 600px;
    min-width: 1200px;
    height: 100%;
    width: 100%;
  }
  .gradient-input {
    position: relative;
    z-index: 0;
    border-radius: 100px;
    border-color: #d1d5dc !important;
    box-shadow: 0 0 20px 0 #d1d5dc80 !important;
    transition: all 0.3s ease-in-out;
  }

  .gradient-input:focus-within {
    box-shadow: 0 0 26px 0 #c8efffa1 !important;
  }

  .gradient-input:focus-within:before {
    content: '';
    background: linear-gradient(91.42deg, #b5edf6, #b5edf6 31%, #8fbdff 73%, #8fbdff);
    border-radius: 100px;
    position: absolute;
    inset: -1px;
    z-index: -1;
  }

  .gradient-input:focus-within:after {
    background: #fff;
    background-clip: content-box;
    border: 1px solid #0000;
    border-radius: 100px;
    bottom: -1px;
    content: '';
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
  }

  .scrollbar-w-none {
    scrollbar-width: none;
  }
  .scrollbar-w-none::-webkit-scrollbar {
    display: none;
  }

  .icon-active {
    filter: brightness(0) saturate(100%) invert(35%) sepia(96%) saturate(462%) hue-rotate(185deg)
      brightness(96%) contrast(95%);
  }

  .delete-modal .arco-modal-footer .arco-btn-primary {
    background-color: #e7000b !important;
  }

  .code-editor-open .arco-drawer-container {
    pointer-events: none;
  }

  .code-editor-open .arco-drawer {
    pointer-events: all;
    box-shadow: 0 16px 25px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25)) !important;
  }
}
